.Basic-Text-Frame {
	font-size: 14px;
	--heading-color: rgb(89 23 13);
	--divider-color: rgba(140, 42, 42, 1);
	column-count: 2;

	margin-bottom: 3em;

	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: .5ch;
	padding-left: .5ch;

	border-top: 1px solid var(--heading-color);
	border-bottom: 1px solid var(--heading-color);

	background: url(/ui/parchment.jpg), hsl(39deg 100% 60% / 80%);
	background-repeat: repeat;
	background-blend-mode: hard-light;

	border-radius: 5px;
}
.Stat-Block-Styles_Stat-Block-Title {
	font-size: 2em;
	font-family: serif;
	font-variant: small-caps;
	font-weight: bold;
	color: var(--heading-color);
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1em;
}
.Stat-Block-Styles_Stat-Block-Title a {
	color: inherit;
	text-decoration: inherit;
}
.Stat-Block-Styles_Stat-Block-Metadata {
	font-style: italic;
}
.Stat-Block-Styles_Stat-Block-Data,
.Stat-Block-Styles_Stat-Block-Data-Last {
	color: var(--heading-color);
	margin:	0;
}
.Sans-Serif-Character-Styles_Bold-Sans-Serif {
	font-weight: bold;
}
.stat-block-ability-scores {
	color: var(--heading-color);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.stat-block-ability-scores-stat {
	flex: 1;
	text-align: center;
}
.stat-block-ability-scores-heading {
	font-weight: bold;
}
.Stat-Block-Styles_Stat-Block-Data-Last {
	
}
.Stat-Block-Styles_Stat-Block-Metadata:after,
.Stat-Block-Styles_Stat-Block-Data-Last:after,
.stat-block-ability-scores:before,
.stat-block-ability-scores:after {
	flex: 100%;
	height: 0px;
	margin-bottom: .5em;
	margin-top: .5em;
	display: block;
	content: "";
	border: none;
	border-top: .2em solid transparent;
	border-bottom: .2em solid transparent;
	border-left: 350px solid var(--divider-color);
}
.Stat-Block-Styles_Stat-Block-Body-Last--apply-before-heading- {
	/* unsure what this is for? */
}
.Sans-Serif-Character-Styles_Inline-Subhead-Sans-Serif {
	font-weight: bold;
}
.Stat-Block-Styles_Stat-Block-Heading {
	font-size: 1.5em;
	font-family: serif;
	font-variant: small-caps;
	color: var(--heading-color);
	border-bottom: 1px solid var(--heading-color);
}
.Stat-Block-Styles_Stat-Block-Body {
	/* Not much to change here? */
}
.Stat-Block-Styles_Stat-Block-Body-Last--apply-before-heading- {
	/* unsure what this is for? */
}
.Stat-Block-Styles_Stat-Block-Hanging {
	text-indent: -2ch;
	padding-left: 2ch;
}